<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>Для учета</title>
    {% endblock title %}

    {% block css_file %}
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="/static/css/common.css">
    {% endblock css_file %}

</head>
<body>
<div class="header-info">
    {% block header-info %}
    {% endblock header-info %}
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            {% block content %}
            {% endblock content %}
        </div>
    </div>
</div>


{% block script %}
{% endblock script %}
</body>
</html>