{% extends 'base.html' %}

{% block css_file  %} 
<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
<style>
    /* Стили для формы редактирования книги */
    #fm {
        max-width: 500px; /* Максимальная ширина формы */
        margin: 0 auto; /* Центрирование формы на странице */
        padding: 20px; /* Внутренний отступ формы */
        border: 1px solid #ccc; /* Граница формы */
        border-radius: 5px; /* Скругление углов формы */
        background-color: #f9f9f9; /* Цвет фона формы */
    }
    
    /* Стили для сообщения об ошибке */
    #error {
        color: red; /* Цвет текста сообщения об ошибке */
        font-size: 18px; /* Размер шрифта сообщения об ошибке */
        font-weight: bold; /* Жирный текст сообщения об ошибке */
    }
    
    /* Стили для кнопки "Сохранить изменения" */
    #edit-book {
        background-color: #007bff; /* Цвет фона кнопки */
        color: #fff; /* Цвет текста кнопки */
        border-color: #007bff; /* Цвет границы кнопки */
        margin-top: 10px; /* Верхний отступ кнопки */
    }
    
    #edit-book:hover {
        background-color: #0056b3; /* Цвет фона кнопки при наведении */
        border-color: #0056b3; /* Цвет границы кнопки при наведении */
    }
    
</style>
{% endblock  %}

{% block title %}
    Редактирование книги
{% endblock title %}

{% block header-info %}
    <h3>Редактирование книги</h3>
    <a href="{% url 'myapp:index' %}" class="btn btn-default">Вернуться на главную</a>
{% endblock header-info %}

{% block content %}
    <form id="fm" >
        {% csrf_token %}
        <span id="error"></span>

        <div class="form-group">
            <label for="id_ISBN">{{ form.ISBN.label }}</label>
            {{ form.ISBN }}
            <span class="error_info">{{ form.ISBN.errors.0 }}</span>
        </div>

        <div class="form-group">
            <label for="id_name">{{ form.name.label }}</label>
            {{ form.name }}
            <span class="error_info">{{ form.name.errors.0 }}</span>
        </div>

        <div class="form-group">
            <label for="id_author">{{ form.author.label }}</label>
            {{ form.author }}
            <span class="error_info">{{ form.author.errors.0 }}</span>
        </div>
        
        <div class="form-group">
            <label for="id_bbk">{{ form.bbk.label }}</label>
            {{ form.bbk }}
            <span class="error_info">{{ form.bbk.errors.0 }}</span>
        </div>
        <div class="form-group">
            <label for="id_year_published">{{ form.year_published.label }}</label>
            {{ form.year_published }}
            <span class="error_info">{{ form.year_published.errors.0 }}</span>
        </div>
        
        <div class="form-group">
            <label for="id_quantity">{{ form.quantity.label }}</label>
            {{ form.quantity }}
            <span class="error_info">{{ form.quantity.errors.0 }}</span>
        </div>
        
        <div class="form-group">
            <label for="id_balance_quantity">{{ form.balance_quantity.label }}</label>
            {{ form.balance_quantity }}
            <span class="error_info">{{ form.balance_quantity.errors.0 }}</span>
        </div>
        
        <input type="button" value="Сохранить изменения" class="btn btn-default" id="edit-book">
    </form> 
{% endblock content %}

{% block script %}
    
{% endblock script %} 