<div class="container mt-4">

<a href="{% url 'myapp:add_publish' %}" class="btn btn-info btn_vertical">Прокат книг</a>
<div class="table-border">
    <table id="books-table" class="table display" style="width:100%">
    <thead>
    <tr>
        <th>ФИО</th>
        <th>ИИН</th>
        <th>Дата выдачи</th>
        <th>Дата возврата</th>
        <th>Адрес</th>
        <th>Электронная почта</th>
        <th>Номер</th>
        <th>Книга</th>
        <th>Количество</th>
        <th>Удалить</th>
    </tr>
    </thead>

    <tbody>
    {% for publish in publish_list %}
        <tr>
            <td>{{ publish.name }}</td>
            <td>{{ publish.iin }}</td>
            <td>{{publish.date_out}}</td>
            <td>{{publish.date_in}}</td>
            <td>{{ publish.city }}</td>
            <td>{{ publish.email }}</td>
            <td>{{ publish.phone }}</td>
            <td>{{ publish.book }}</td>
            <td>{{ publish.quantity }}</td>
            <td> 
            <form action="{% url 'myapp:return_book' publish_id=publish.id %}" method="post" onsubmit="return confirm('Вы уверены, что хотите удалить эту запись?');">
                {% csrf_token %}
                <button type="submit">Удалить</button>
            </form>          
        </td>  
        </tr>
    {% endfor %}
    </tbody>
</div>
</div>

</table>
